{% extends "base.html" %}
{% block title %}Centenary Celebration{% endblock %}
{% block body %}
<hr>
<section>
    <div class="container shadow-done roundcornerbig">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <div class="head-top-pad heading text-center">
                    <h2 class="wow"><spam class="glyphicon glyphicon-gift"></spam> Centenary Initiatives</h2>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <nav class="col-sm-2 col-xs-12" id="mynavbar">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#PROJECTS" data-toggle="pill">Projects</a></li>
                            <li><a href="#ACTIVITIES" data-toggle="pill">Activities</a></li>
                        </ul>

                    </nav>
                    <div class="col-sm-10 tab-content" style=" overflow: auto;"><br>
                        <div id="PROJECTS" class="tab-pane fade in active" style="height: 450px;">
                            <div>
                                <p class="text-center" style="font-weight: bold; font-size: 25px; text-decoration: underline;">Shatabdi Kosh</p><br>
                                <p> &emsp;&emsp;It is proposed to establish a Centenary Fund where into Alumni and other donors can generously contribute for appropriate use by the institution. </p>
                                <p>&emsp;&emsp;It is well known that alumni normally wish to pass on some part of their earnings, either as individuals or in a group, at various opportune times in their life time. Many of them would like to see the institute sufficiently prosperous for being able to add newer and newer functionalities for ensuring appropriate growth without waiting for input from funding agencies to start the work. Such efforts may later be nicely funded by other agencies as well. Other well wishers of the institute/agencies may also direct their contributions into this centenary fund to be known a Shatabdi Kosh. </p>
                                <br>
                            </div>
                            <hr>
                            <div>
                                <p class="text-center" style="font-weight: bold; font-size: 25px; text-decoration : underline;" >Shatabdi Goshthi Sankul</p><br>
                                <p>&emsp;&emsp;We have been experiencing the requirement of small and big halls at one place for conducting various plenary, key note and small sessions when we hold some academic meet for facilitating intense and purposeful interaction among the participants. This type of environment could be nicely facilitated if the halls, as stated above, are available around GTAC where our guests reside. </p>
                                <p>&emsp;&emsp;We can approach alumni and other well wishers, apart from the government agencies, for development of such an infrastructure around GTAC under the name Shatabdi Goshthi Sankul. </p>
                                <br>
                            </div>
                            <hr>
                            <div>
                                <p class="text-center" style="text-decoration: underline; font-weight: bold; font-size: 25px;">Shatabdi Granthagaar</p><br>
                                <p>&emsp;&emsp;An institution of higher learning has to continuously engage in acquirement and processing of knowledge. The role of a modern library, integrating ICT based tools, services and environments, has become paramount in this regard. It is, therefore, proposed to architect, build and operate a modern library system keeping in mind the requirements and the future needs. Such a library may be named as Shatabdi Granthagaar. Grant-in-Aid and funding from various sources and alumni may also be sought for the purpose. </p>
                                <br>
                            </div>
                            <hr>
                            <div>
                                <p class="text-center" style="font-size: 25px; font-weight: bold; text-decoration: underline;">Shatabdi Sanskritik Sankul</p><br>
                                <p>&emsp;&emsp;We are fortunate to have the grand Swatantrata Bhawan on the campus and the same is being used for various purposes. We need special acoustics, lay out and architecture for various small and medium size halls to be able to host functions and ceremonies on various themes, genres, traditions and cultures. Varanasi being a cultural city provides an opportunity for such purposes. It is therefore proposed to take up development of Shatabdi Sanskritik Sankul around Swatantrata Bhawan for use by the various faculties of BHU, IIT (BHU) and possibly by other organizations</p>
                                <br>
                            </div>
                            <hr>
                            <div>
                                <p class="text-center" style="text-decoration: underline; font-weight: bold; font-size: 25px;">Shatabdi Information Technology Services Centre</p><br>
                                <p>&emsp;&emsp;Information Communication Technology (ICT) is redefining the way knowledge is explored, processed and disseminated. ICT is playing a very big role in efficient execution of administrative, few financial and even social processes in an academic institution. </p>
                                <p>&emsp;&emsp;It is therefore proposed to develop an ICT Services Centre under the name Shatabdi Information Technology Services Centre in the same building/premises where our Library would be housed</p>
                                <br>
                            </div>
                        </div>
                        <div id="ACTIVITIES" class="tab-pane fade" style=" height: 450px;">
                            <p class="text-center" style="font-size: 20px;">Launching Soon.</p>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<hr>
{% endblock %}
