{% extends "base.html" %}
{% block title %}IIT BHU Alumni Portal {% endblock %}
{% block body %}
</div>
<marquee style="margin-top:2px;color:red">*** Launch of Centenary year initiatives on 22nd Feb,2018  ***Please check Centenary section for more details *** Please check Events section for more information on upcoming events  ***</marquee>
<hr style="margin-top:5px">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12" style="overflow:hidden">
<div id="mycarousel" class="carousel slide roundcornerbig shadow-done" data-ride="carousel" style="overflow:hidden;max-height:510px">
<ol class="carousel-indicators">
<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
<li data-target="#mycarousel" data-slide-to="1"></li>
<li data-target="#mycarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item">
<img class="img-responsive" src="/static/img/full-slider/full-slide3.jpg" alt="Uthappizza">
<div class="carousel-caption">
<h3></h3>
</div>
</div>
<div class="item">
<img class="img-responsive" src="/static/img/full-slider/full-slide2.jpg" alt="Uthappizza">
<div class="carousel-caption">
<h3></h3>
</div>
</div>
<div class="item">
<img class="img-responsive" src="/static/img/full-slider/full-slide1.jpg" alt="Uthappizza">
<div class="carousel-caption">
<h3></h3>
</div>
</div>
</div>
<a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
<hr>
</div>
</div>
<hr>
<div style="padding-top:80px" id="eventtabs"></div>
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-7 shadow-done eventextborder roundcornerbig" style="margin-bottom:50px">
<div class="heading text-center head-top-pad">
<h2 class="wow"><span class="glyphicon glyphicon-bookmark"></span> Events</h2>
</div>
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active col-xs-12 col-sm-6 col-md-6 text-center" style="margin:0;padding:0;border:1px solid #eee">
<a href="#upcoming" aria-controls="peter" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> Upcoming</a></li>
<li role="presentation" class="col-xs-12 col-sm-6 col-md-6 text-center" style="margin:0;padding:0;border:1px solid #eee"><a href="#recent" aria-controls="danny" role="tab" data-toggle="tab" style="margin-left:0px;margin-right:0px"><span class="glyphicon glyphicon-calendar"></span> Recent</a></li>
</ul>
<div class="eventresizer">
<div class="tab-content">
<div role="tabpanel" class="tab-pane fade" id="recent">
<div class="media">
<div class="row">
<div class="col-sm-3">
<div class="media-left media-middle">
<a href="#">
<img class="img img-responsive" height="120px" width="120px" src="/static/img/logo3.png" style="display:inline;"></a>
</div>
</div>
<div class="col-sm-9">
<div class="media-body">
<h3 class="media-heading">Reunion of Alumni <small>1974 Batch, Nov 3,2017 to Nov 6,2017 </small></h3>
<p class="readmorebtn">The 3rd- 6th of November saw the reunion of the alumni of '74 batch. The reunion was organised by the Students Alumni Interaction Cell along with the Banaras Alumni Association. The occasion saw the IIT (BHU) Varanasi Alumni go through a journey of nostalgia and reminiscence. Alumni, from all over the world, who have achieved the pinnacle of success attended the reunion. The inauguration was graced by the Director, Prof. Rajeev Sangal along with The Dean Of Resource and Alumni, Prof. A.K Tripathi. The Secretary of the Banaras Alumni Association, Mr. Vyomesh Kumar, made sure that his fellow college-mates didn't miss any flavour of the College. Departmental visits, morning games at the gymkhana and a beautiful Dev Deepavali celebration was also organised.
The SAIC also organised a small interactive session with the alumni wherein the alumni opened up about everything, right from the College life fun, the struggle without which life becomes worthless, success stories and all the life experiences, making the event a cherished one for both the alumni and the students.</p>
</div>
</div>
</div>
</div>
<hr>
<div class="media">
<div class="row">
<div class="col-sm-3">
<div class="media-left media-middle">
<a href="#">
<img class="img img-responsive" height="120px" width="120px" src="/static/img/logo3.png" style="display:inline;"></a>
</div>
</div>
<div class="col-sm-9">
<div class="media-body">
<h3 class="media-heading">Alumni Meet <small>Computer Science & Engg., 1992 Batch , Jan 25,2018 to Jan 26,2018</small></h3>
<p class="readmorebtn">A two-day event, comprising of department visit, meeting the faculty and PhD scholars, an interaction session with the students organised by the Student Alumni Interaction Cell and finally a cricket match with the students of Morvi Hostel. Not to mention, they did visit their old rooms, LC, DG and their hostel mess.
SAIC proudly facilitated the alumni of CSE Dept, IIT(BHU).</p>
</div>
</div>
</div>
</div>
<hr>
<div class="media">
<div class="row">
<div class="col-sm-3">
<div class="media-left media-middle">
<a href="#">
<img class="img img-responsive" height="120px" width="120px" src="/static/img/logo3.png" style="display:inline;">
</a>
</div>
</div>
<div class="col-sm-9">
<div class="media-body">
<h3 class="media-heading">Alumni Meet <small>&nbsp;1976 Batch, Dec 8,2017 to Dec 10,2017</small></h3>
<p class="readmorebtn">December 2017 was slated to witness numerous reunions, overseen by the SAIC, kicking off with the gathering of the '76 batch from 8th - 10th of the month.
On the first day, the attendees gathered together at the Guesthouse for the distribution of Teeshirts among themselves, followed by dinner at the Clarks.
The next day everybody collected at the ABLT for an official gathering and discussion of various critical points. The Chief Speakers being:
Mr. Nitin Malhotra, Member, Board of Governors, IIT BHU
Mr. Sunil Khanna, President, Western Alumni Association, IIT BHU
Mr. Ramji Agrawal, President, Banaras Alumni Association
Prof. A.K. Tripathi, Dean, Resource and Alumni
Mr. Rakesh Bhatia, Chief Organiser.

Few noteworthy points to know:

The batch has already pledged 20 lakhs for Scholarships.

Construction of a new Hostel in collaboration with various other batches is in progress.

Proposal of collaboration -- The Industry, Institute Interface.

Funding for Centenary year projects like the Shatabdi Granthalaya, etc.</p>
</div>
</div>
</div>
</div>



</div>
<hr>
<div role="tabpanel" class="tab-pane fade in active" id="upcoming">
<div class="media">
<div class="media-left media-middle">
<div class="row">
<div class="col-sm-3">
<div class="media-left media-middle">
<a href="#">
<img class="img img-responsive" height="120px" width="120px" src="/static/img/logo3.png" style="display:inline;"></a>
</div>
</div>
<div class="col-sm-9">
<div class="media-body">
    <h3 class="media-heading">Centenary Celebration<small>&nbsp;2019</small></h3><p class="readmorebtn">Celebrating the legacy of 100 years not only in the field of Technology and innovation but also enshrining our heritage and values, IIT BHU is organising a centenary year launch event on 22nd Feb 2018 announcing the commencement of year- long celebrations. The event will be adorned by the golden jubilee reunion of the 1968 batch, also the function will witness an array of cultural performances along with the showcase of various Technological achievements made by our students.</p></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-4 col-sm-offset-1">
<div class="panel panel-primary shadow-done roundcornermid" style="border-color: white;">
<div class="panel-heading">
<h3 class="panel-title text-center" style="color:white"><span class="glyphicon glyphicon-list-alt"></span> News</h3>
</div>
<div class="panel-body news_scroller">
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Dr. Manu Vora, Chemical Engg, 1968 batch, was awarded Fulbright Specialist Project Grant by the U. S. Department of State for 2018-2019 for teaching at IIT (BHU), Varanasi.</p>

        <hr></div>
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Dr. Deep Jariwala (BT/Metallurgy/2010) made it to Forbes 30 Under 30 Science!</p>

        <hr></div>
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Ware, co-founded by three IIT BHU alumni, Aditya Goel, Rahul Raj and Arvind Jain has been included in YourStory’s list of 30 most-promising startups of 2017.</p>

        <hr></div>
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Our alumna Jayanthi Sampathkumar (B.tech/Metallurgy/94) is now the proud record-holder of the world's fastest marathon in a sari! She achieved this feat in 4 hrs and 57 minutes.</p>

        <hr></div>
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Mr Daljeet Singh, Civil Engg., has taken over charge as Director (Works) of Delhi Metro Rail Corporation (DMRC). </p>

        <hr></div>
    <div class="col-xs-12">
        <p><span class="glyphicon glyphicon-star"></span>Mr.  Arvind Gupta, alumnus ECE batch 1992, Co-Founder and Head of Digital India Foundation. He was appointed as the CEO of MyGovIndia on 6th feb 2018.  He is on the Board of IIT – BHU Alumni Association & PAN-IIT Alumni Association. </p>

        <hr></div>

<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Sunil Khanna (Electronics 1976), president and managing director of Emerson Network Power (India) elected as chairman of CII, Maharashtra State Council.</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Prabhat Kumar (Mechanical 1977) takes charge as Chief Executive Officer of Meja Urja Nigam (MUNPL), a joint venture of NTPC Ltd & UPRVUNL.</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Varun Grover (Civil 2003), wins Best Lyricist at 63rd National Film Awards 2016, for Moh Moh ke Dhaage from Sharat Katariya movie Dum Laga ke Haisha.</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Ratan Tata invests in baby products eCommerce platform, Firstcry (founded by Amitav Saha, Mechanical 1997).</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Arpwood Capital (founded by Rajeev Gupta, Mechanical 1980), retained as adviser by Lafarge.</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Nikesh Arora (Electrical 1989), Chief Operating Officer of SoftBank, will lead the overseas unit.</p>
<hr>
</div>
<div class="col-xs-12">
<p><span class="glyphicon glyphicon-star"></span> Vikas Purohit (Mechanical 2000), Ex-Amazon fashion head appointed as Vice-president for Paytm payment bank business.</p>
<hr>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<hr id="aboutus">
<div class="container divpadding">
<div class="row">
<section id="testimonial" class="roundcornerbig shadow-done">
<div class="container head-tp-pad">
<div class="row">
<div class="col-lg-7 col-md-7 col-sm-6">
<div class="heading text-center">
<h2 class="wow"><span class="glyphicon glyphicon-bookmark"></span> About Us</h2>
<p>"With a legacy spanning almost a hundred years, IIT BHU has given the world individuals, who with their virtues and flair have left impeccable footprints on the sands of time. SAIC is an attempt and a platform to muster all the scattered pearls that were once stringed together in the necklace of this institute, and let them contribute to the enhancement of the college and its students." </p>
</div>
</div>
<div class="col-lg-5 col-md-5 col-sm-6">
<div class="testimonial_customer">
<ul class="testimonial_slider">

<li>
<div class="media testi_media">
<a class="media-left testi_img" href="#">
<img src="/static/img/rsangal.jpg" alt="img">
</a>
<div class="media-body">
<h4 class="media-heading">Prof. Rajeev Sangal</h4>
<span>Director,IIT BHU</span>
</div>
</div>
<div class="testi_content">
<p>Welcome to your Alma Mater.We are very pleased to have you here.</p>
</div>
</li>
<!-- <li>
<div class="media testi_media">
<a class="media-left testi_img" href="#">
<img src="/static/img/dora.jpg" alt="img">
</a>
<div class="media-body">
<h4 class="media-heading">Prof. A.K. Tripathi</h4>
<span>D.O.R.A, IIT BHU</span>
</div>
</div>
<div class="testi_content">
<p>We are very pleased to have you here.</p>
</div>
</li> -->
</ul>
</div>
</div>
</div>
</div>
</section>
</div>
</div>

<div class="container divpadding">
<div class="row">
<section id="testimonial" class="roundcornerbig shadow-done">
<div class="container head-tp-pad">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
<div class="heading text-center">
<h2 class="wow"><span class="glyphicon glyphicon-bookmark"></span> A Message</h2>
<div class="col-lg-12 col-md-12">
   <div class="youtube-player" data-id="KX2kDPcel8I" data-related="0" data-control="1" data-info="0" data-fullscreen="1" style="width:100%;display: block; position: relative;cursor: pointer;max-height:360px;height:100%; overflow:hidden;padding-bottom:56.25%;margin:0 auto"> <img src="https://i.ytimg.com/vi/KX2kDPcel8I/hqdefault.jpg" style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;"> <div style="height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url('https://i.imgur.com/TxzC70f.png') no-repeat;"></div> 

</div>
<br>
<div><span class="text-center" style="text-align:center">From the desk of "The Director", IIT B.H.U</span></div>
</div>
</div>
<hr>

</div>
</div>
</div>
</section>
</div>
</div>




<section id="blog" class="divpadding bottompadonce">
<div class="container shadow-done roundcornerbig" id="Leaders">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="heading text-center head-top-pad">
<h2 class="wow"><span class="glyphicon glyphicon-bookmark"></span> Leading Around the World</h2>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="blog_content">
<div class="blog_slider">
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/JayChaudhary.jpg" alt="img">
</div>
<h3>Jay Chaudhary</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Founder</a>
<span><i class="fa fa-calendar"></i>ZScaler</span>
<a href="#"><i class="fa fa-tags"></i>Electronics Eng. Alumni</a>
</div>
<p>Founder of successful companies like Zscaler, AirDefense, CipherTrust etc. Conferred with Entrepreneur of the Year and Innovator and Influencer. </p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/ManojSinha.jpg" alt="img">
</div>
<h3>Shri Manoj Sinha</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Minister</a>
<span><i class="fa fa-calendar"></i>Railways</span>
<a href="#"><i class="fa fa-tags"></i>Civil Eng. Alumni</a>
</div>
<p>Currently the Minister of State for Railways. Popularly known for his work in backward villages. Among the seven most honest MPs according to India Today.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/nikesharora.jpg" alt="img">
</div>
<h3>Nikesh Arora</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>COO</a>
<span><i class="fa fa-calendar"></i>SoftBank Corp.</span>
<a href="#"><i class="fa fa-tags"></i>Electrical Eng. Alumni</a>
</div>
<p>Former google executive and current President and COO of the Japanese $70 billion giant SoftBank Corp.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/anilbhardwaj.jpg" alt="img">
</div>
<h3>Anil Bharadwaj</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Director</a>
<span><i class="fa fa-calendar"></i>ISRO</span>
<a href="#"><i class="fa fa-tags"></i>Applied Physics Alumni</a>
</div>
<p>Dr. Anil Bhardwaj was inducted in the hall of fame of Distinguished Alumnus Awardees of IIT BHU as a token of appreciation for a wonderful career and an unparalleled contribution to India space research.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/DeepakAhuja.jpg" alt="img">
</div>
<h3>Deepak Ahuja</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>CFO</a>
<span><i class="fa fa-calendar"></i>Tesla Motors</span>
<a href="#"><i class="fa fa-tags"></i>Ceramics Eng. Alumni</a>
</div>
<p>He has been named 'CFO of the Year' by the Silicon Valley Business Journal in the year 2010.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/Krishankanth.jpg" alt="img">
</div>
<h3>(Late) Shri Krishan Kant</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Ex Vice-President</a>
<span><i class="fa fa-calendar"></i>India</span>
<a href="#"><i class="fa fa-tags"></i>MSc. Tech. Alumni</a>
</div>
<p>He worked as a Scientist with the Council of Scientific and Industrial Research, New Delhi
He was a part of the Quit India movement and the Independence struggle as a youth and continued to be involved in politics, eventually being elected to the Parliament of India.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/PulickelAjayan.jpg" alt="img">
</div>
<h3>Pulickel M. Ajayan</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Distinguished</a>
<span><i class="fa fa-calendar"></i>Nanotech.</span>
<a href="#"><i class="fa fa-tags"></i>Metallurgy Eng. Alumni</a>
</div>
<p>He is a pioneer in the field of nanotechnology and mentioned twice in Guinness World Records for making the smallest brush and also the darkest material on Earth which reflects only 0.045% of light.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/RamCharan.jpg" alt="img">
</div>
<h3>Dr. Ram Charan</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Distinguished</a>
<span><i class="fa fa-calendar"></i>Multi..</span>
<a href="#"><i class="fa fa-tags"></i>Mechanical Eng. Alumni</a>
</div>
<p>He consistently ranked in the Thinkers50 Top Global Business Thinkers ranking from 2005-2009 & was the Economic Times Global Indian of the year in 2009. He was inducted into the Thinkers50 Hall of Fame in 2015.</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<div class="single_post wow fadeInUp">
<div class="blog_img">
<img src="/static/img/alumniworld/thomas.gif" alt="img">
</div>
<h3>Thomas S. Anantharaman</h3>
<div class="post_commentbox">
<a href="#"><i class="fa fa-user"></i>Distinguished</a>
<span><i class="fa fa-calendar"></i>IBM</span>
<a href="#"><i class="fa fa-tags"></i>Electonics Eng. Alumni</a>
</div>
<p>He was a part of the team that built the IBM Deep Blue, a chess-playing computer which was the first to beat the World Champion Garry Kasparov.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div id="signupModal" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" style="background-color:#303F9F">
<button type="button" class="close" id="closereset" data-dismiss="modal" style="color:white">&times;</button>
<h4 class="modal-title text-center" style="color:white">Register</h4>
</div>
<div class="modal-body">
<div id="signupstep1">
<form class="form-horizontal" role="form" id="signUpForm" data-toggle="validator" method="POST">
{% csrf_token %}
<p id="errorRegister"></p>
<div class="form-group">
<label for="inputEmail" class="col-sm-3 col-sm-offset-1 control-label">Email:</label>
<div class="col-sm-6 input-group">
<span class="input-group-addon">@</span>
<input type="email" class="form-control" id="registerEmail" maxlength="50" id="inputEmail" name="username" placeholder="Email" data-error="Invalid Email" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
</div>
<div class="help-block with-errors col-sm-offset-3"></div>
</div>
<div class="form-group">
<label for="password" class="col-sm-3 col-sm-offset-1 control-label">Password</label>
<div class="col-sm-6 input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
<input type="password" data-minlength="6" id="registerPass" maxlength="32" class="form-control" name="password" placeholder="Password" data-error="Password must be 6 to 32 characters Long" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
</div>
<div class="help-block with-errors col-sm-offset-3"></div>
</div>
<div class="form-group">
<label for="password" class="col-sm-3 col-sm-offset-1 control-label">Password</label>
<div class="col-sm-6 input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
<input type="password" class="form-control" id="registerCPass" data-match="#registerPass" data-match-error="Passwords Do not Match" placeholder="Confirm Password" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
</div>
<div class="help-block with-errors col-sm-offset-3"></div>
</div>
<div class="form-group">
<div class="col-sm-offset-3 col-sm-6">
<div id="captcha">
<script src="https://www.google.com/recaptcha/api/challenge?k=6Ldofx8TAAAAAPkvqRCHxwsTKmAT8lHccOTbk9Gu"></script> <noscript>
<iframe src="https://www.google.com/recaptcha/api/noscript?k=6Ldofx8TAAAAAPkvqRCHxwsTKmAT8lHccOTbk9Gu" width="300" frameborder="0" height="300"></iframe><br>
<textarea name="recaptcha_challenge_field" id="recaptcha_challenge_field" rows="3" cols="40">            </textarea>
<input name="recaptcha_response_field" id="recaptcha_response_field" value="manual_challenge" type="hidden">
</noscript> </div>
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-3 col-sm-6">
<input type="submit" name="submit" value="Submit" signclass="btn btn-primary" class="btn btn-primary" />
</div>
</div>
<div id="progressRegister" style="display:none">
<p>Sending mail....</p>
<div class="progress progress-striped active">
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%">
<span class="sr-only">100% Complete</span>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div id="loginModal" class="modal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title text-center">Login </h4>
</div>
<div class="modal-body">
<form class="form-horizontal" role="form" id="login_form" data-toggle="validator">
  {% csrf_token %}
<div style="color:red;text-align:center" id="errorLogin"></div><br>
<div class="form-group">
<label for="inputEmail" class="col-sm-3 col-sm-offset-1 control-label">Email:</label>
<div class="col-sm-6 input-group">
<span class="input-group-addon">@</span>
<input type="email" class="form-control" maxlength="50" id="username" placeholder="Email" data-error="Invalid Email" required> <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
</div>
<div class="help-block with-errors col-sm-offset-4"></div>
</div>
<div class="form-group">
<label for="password" class="col-sm-3 col-sm-offset-1 control-label">Password</label>
<div class="col-sm-6 input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
<input type="password" class="form-control" data-minlength="6" maxlength="32" id="password" placeholder="Password" data-error="Password must be 6 to 32 characters Long" required>
<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
</div>
<div class="help-block with-errors col-sm-offset-4"></div>
<div>
<div class="form-group">
<div class="col-sm-offset-4 col-sm-6">
<button type="submit" class="btn btn-info roundcorner">Sign In</button>
<span class="float-right"><a style="cursor:pointer" onclick="pass_open()">&nbsp;Forgot Password?</a> </span>
</div>
</div>
<div class="form-group">
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" style="display:none;top:15%" id="successEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 style="color:green" class="modal-title" id="myModalLabel">Success</h4>
</div>
<div class="modal-body">
<p>A mail has been sent to your email id. Please click on the verification link in the mail to verify your account.</p>
</div>
<div class="modal-footer">
</div>
</div>
</div>
</div>
<div class="modal fade" style="top:15%" id="pass_recovery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header"> <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel">Password Recovery</h4>
</div>
<div class="modal-body">
{% csrf_token %}
<input id="emailId_pass" class="form-control" placeholder="Please enter your email for password recovery" type="text"> <br>
<div style="color:red" id="message"> {{message}} </div>
</div>
<div id="progress" style="display:none">
<p>Sending mail....</p>
<div class="progress progress-striped active">
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%"> <span class="sr-only">100% Complete</span> </div>
</div>
</div>
<div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button id="recover" type="submit" class="btn btn-primary">Recover</button>
</div>
</div>
</div>
</div>
<div class="modal fade" style="display:none;top:15%" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel">PRIVACY AND YOUR PERSONAL INFORMATION</h4>
</div>
<div class="modal-body" style="max-height:500px;overflow-y:auto">
<p>The collection of the personal information you give to us to keep you informed about Alumni Meet, or to process your registration for Alumni Meet, is governed by privacy laws.</p>
<p> Please note that:<br>
Please note that:
The purpose of our collecting your personal information is to respond to your request to receive information about the event or to process your registration. We will only disclose your personal information to our registration committee and concerned authorities for ensuring your smooth arrival and future correspondence through IIT (BHU). Our concerned authority is Dean( Resource & Alumni) IIT (BHU). The above named organisation may use the personal information provided to them to enable them to contact you and keep you updated about services concerning you. You may make a request to gain access to any of your personal information that we have collected. We will assume your consent to management of your personal information in the manner specified above until you tell us to the contrary by contacting us at <strong>dora@iitbhu.ac.in</strong>.</p>
</div>
<div class="modal-footer">
</div>
</div>
</div>
</div>
<div class="modal fade" style="display:none;top:5%;" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
  
       
  <div class="modal-body">
      
<p><h5><strong>1. Payments</strong></h5>
<ul type="disc">
<li>
<p>All bookings made prior to the meeting must be paid in full to guarantee registration. Once payment has been received, an email confirmation and a receipted invoice will be sent. If payment is not made at the time of booking, registration will be provisional. 
</p>
</li>
</ul>
<br>
<h5><strong>2. Alterations to Programme - Cancellation/Postponement of Event</strong></h5>
<ul type="disc">
<li>
  IIT (BHU) reserves the right to make alterations to the meeting programme, venue and timings.
</li>
<li>In the unlikely event of the programme being cancelled by IIT (BHU), necessary adjustments etc. Will be carried out. </li>
<li>In the event of it being found necessary, for whatever reason, that the meeting is being postponedor the dates being changed, the organisers shall not be liable for any expenditure, damage or loss incurred by the delegate.</li>

</ul>
<br>
<h5><strong>3. Speakers</strong></h5>

<ul type="disc">
<li>Views expressed by speakers are their own. IIT (BHU) cannot accept liability for advice given, or views expressed, by any speaker at the meeting or in any material provided to delegates.
</li>
</ul>
<br>
<h5><strong>4. Photography & Filming</strong></h5>
<ul type="disc">
<li>For promotional purposes, there may be a professional photographer and video production taking place during the meeting. Delegates who do not wish to be filmed or recorded should advise the organisers by email to IIT (BHU) prior to the event.
</li>

</ul>
<br>

<h5><strong>5. Data Protection</strong></h5>
<ul type="disc">
<li>By submitting registration details, delegates agree to allow IIT (BHU) to contact them regarding their services. Delegates who do not wish to receive such communications please email help.alumnimeet@iitbhu.ac.in. The contact details of registered delegates will be placed on the attendee list which will be passed to sponsoring companies and to all attendees for them to see who is at the meeting for the purpose of networking and meetings. Delegates who do not wish to be included on this list should advise at the time of booking. No personal details of the delegates would be shared with any entity for promotional purposes or any other reason.
</li>
</ul>
<br>

<h5><strong>6. Websites & Links</strong></h5>

<ul type="disc">
<li>The meeting and associated IIT (BHU) websites may link to other websites and networking tools provided for the convenience of the users. The contents of these websites are maintained by their owners, for which IIT (BHU) takes no responsibility. Neither can responsibility be taken for contents of any website linking to this website.
</li>
</ul>
<br>

<h5><strong>7. Insurance</strong></h5>
<ul type="disc">
<li>It is the responsibility of a delegate to arrange appropriate insurance cover in connection with their attendance at the meeting. IIT (BHU) cannot be held liable for any loss, liability or damage to personal property.
</li>
</ul>
<br>

<h5><strong>8. Speakers : Terms & Conditions</strong></h5>

<ul type="disc">
<li>IIT (BHU) may use the speaker’s name and presentation materials for promoting delegate attendance at the event. Presentations and papers including all associated artwork and illustrations will not be returned unless specifically requested by the author. The papers must be objective and completely free of advertising and commercialism.</li>
<li>IIT (BHU) may audio and/or video tape the speaker’s session and the recording may be reproduced and sold as part of the overall meeting materials. This allows delegates to purchase audio/video copies of presentations that they may have been unable to attend.</li>
<li> IIT (BHU) may reproduce copies of the speaker’s presentation (eg. PowerPoint slides or supporting
handouts) on paper and/or electronically and these may be sold as part of the overall hand-out materials during the meeting and after the event. Any acknowledgement regarding Copyright or support should be included at the end of the abstract/presentation, as these will be distributed to the meeting delegates.</li>
<li>Speakers who do not wish to give permission for the above terms and conditions, please email to chair.alumnimeet@iitbhu.ac.in before the commencement of the Alumni meet.</li>
   </ul>
</p>
      </div>
      <div class="modal-footer">
        
      </div>

    </div>
  </div>
</div>

</body>
{% endblock %}
{% block scripts %}

<script src="/static/js/ajax_signUP.min.js"></script>
<script src="/static/js/ajax_login.min.js"></script>
<script>$(document).ready(function(){$("#loginModal").on("hidden.bs.modal",function(a){$(this).find("input,textarea,select").val("").end()})});</script>
<script>$(document).ready(function(){$("#signupModal").on("hidden.bs.modal",function(a){$(this).find("input,textarea,select").val("").end()})});</script>
<script>var $item=$(".carousel .item");var $wHeight=$(window).height();$item.eq(0).addClass("active");$item.height($wHeight);$item.addClass("full-screen");$(".carousel img").each(function(){var a=$(this).attr("src");var b=$(this).attr("data-color");$(this).parent().css({"background-image":"url("+a+")","background-color":b});$(this).remove()});$(window).on("resize",function(){$wHeight=$(window).height();$item.height($wHeight)});$(".carousel").carousel({interval:6000,pause:"false"});function pass_open(){$("#loginModal").modal("hide");$("#pass_recovery").modal("show")}</script>
<script type="text/javascript">$("#recover").on("click",function(){email=$("#emailId_pass").val();$("#progress").show();$.post("/pass_recovery/",{emailId:email,csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},function(a){$("#message").html(a);$("#progress").hide()})});</script>
<script>$('a[data-toggle="tab"]').on("shown.bs.tab",function(a){$.getScript("/static/js/readmore.min.js",function(){$(".readmorebtn").readmore()})});</script>
<script>$(".readmorebtn").readmore();</script>
<script>
                                (function() { var v = document.getElementsByClassName("youtube-player"); for (var n = 0; n < v.length; n++) { v[n].onclick = function () { var iframe = document.createElement("iframe"); iframe.setAttribute("src", "//www.youtube.com/embed/" + this.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&rel="+ this.dataset.related +"&controls="+this.dataset.control+"&showinfo=" + this.dataset.info); iframe.setAttribute("frameborder", "0"); iframe.setAttribute("id", "youtube-iframe"); iframe.setAttribute("style", "width: 100%; height: 100%; position: absolute; top: 0; left: 0;"); if (this.dataset.fullscreen == 1){ iframe.setAttribute("allowfullscreen", ""); } while (this.firstChild) { this.removeChild(this.firstChild); } this.appendChild(iframe); }; } })();
                                </script>


{% endblock %}
