{% extends "base.html" %}
{% block title %}About the institute{% endblock %}
{% block body %}
<section style="margin-top:20px; margin-botom:20px;">
    <div class="container shadow-done roundcornerbig">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <div class="head-top-pad heading text-center">
                <h2 class="wow"><spam class="glyphicon glyphicon-pushpin"></spam>
                 OTHER ALUMNI ASSOCIATIONS</h2>
                </div>
            </div>

            <div class="container">
  <div class="row">
    <nav class="col-sm-3 col-xs-12" id="mynavbar">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#IGBAA" data-toggle="pill">IGBAA</a></li>
        <li><a href="#AIBA" data-toggle="pill">AIBA</a></li>
       <!-- <li><a href="#BAA" data-toggle="pill">BAA</a></li>-->
      </ul>
    </nav>
      <div class="col-sm-9 tab-content" style="overflow: auto;">
          <div id="IGBAA" class="tab-pane fade in active" style="height: 450px;">
              <img src="/static/Team members/volunteers/b1.jpg" class="img-responsive">
              <h2>&emsp;Abhijit &nbsp;Solanki</h2> </br>
          <a href="#"><i class="fa fa-user"></i>President</a>
          </br><br>
          <p>
              &emsp;&emsp;IIT-BHU Global Alumni Association (IBGAA) is the Association of Alumni of the IIT-BHU, Varanasi. It includes all alumni, including BENCO, MINMET, ITBHU and other incarnations of the engineering college of BHU. Our alumni association is involved in various activities, which require funding and generous support from our alumni.
The major activities of our association are Alumni-funded scholarship for needy students; Maintaining cordial relations with students, alumni, faculty and administration, Supervise meetings at chapter level and global meet

          </p>
          </div>
          <div id="AIBA" class="tab-pane fade" style="height:400px;">
              <img src="/static/Team members/volunteers/b1.jpg" class="img-responsive">
              <h2>&nbsp;Debasish &nbsp;Bhattacharyya</h2><br>
               <a href="#"><i class="fa fa-user"></i>President</a>
          </br><br>
              <p>
                  &emsp;&emsp; Major activities and main objectives of Association of IIT BHU Alumni (AIBA) are to promote socio-culture interaction between the alumni and their family, to build an active network of alumni around the world, to help the institute to collaborate with the industry for better placements and faculty upgrade, to create an awareness about the achievements, contribution and the rich heritage of the institute within the media as well as the industry.
              </p>
          </div>
          <div id="BAA" class="tab-pane fade" style="height: 400px;">
              <img src="/static/Team members/volunteers/b1.jpg" class="image-responsive">
              <h2>Ram Agarwal </h2>
              <a href="#"><i class="fa fa-user"></i>President</a>
              <br><br>
              <p>
                  text
              </p>
          </div>

          </div>
      </div>


  </div>

    </div>

</section>
<hr><hr>

{% endblock %}
