<p>Dear Student,</p>
<p>Greetings from Student Alumni Interaction Cell (SAIC) IIT BHU Varanasi.&nbsp;</p>
<p>&nbsp;</p>
<p>Hope that you had a good time interacting with your mentors facilitated by the &lsquo;Student Mentorship Programme&rsquo; recently started by SAIC. Since this is first time we have started such a programme for the students, we welcome your suggestions for the betterment of the programme.</p>
<p>&nbsp;</p>
<p>We urge you give some of your previous time to fill this feedback form - &nbsp;<a href="https://goo.gl/forms/tX0a4wsiMwRCsRja2" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://goo.gl/forms/tX0a4wsiMwRCsRja2&amp;source=gmail&amp;ust=1479707188411000&amp;usg=AFQjCNGVa69WW1OGrn_Jpt0Ts-SA29EkDA">https://goo.gl/forms/tX0a4wsiMwRCsRja2</a></p>
<p>&nbsp;</p>
<p>Your&nbsp;feedback&nbsp;and suggestions would help us bring out the most of this initiative.</p>
<p>&nbsp;</p>
<p>Thanks and Regards</p>
<p>Team SAIC,</p>
<p>IIT(BHU) Varanasi.</p>