{% extends "base.html" %}


      {% block title %}IIT BHU Alumni Portal {% endblock %}
         
   {% block body %}
	 <style>html,body{height:100%}.nis{text-align:center;font-family:sans-serif;margin-top:20px;font-size:40px}#nishith{text-align:center;font-family:sans-serif;margin-top:20px;font-size:15px}#way{font-family:sans-serif;text-decoration-color:red;font-size:10px}hr{display:block;margin-top:.5em;margin-bottom:.5em;margin-left:auto;margin-right:auto;border-style:inset;border-width:1px}#photo{height:250px;width:25opx}.ni{width:200px;height:200px}.tumbnail{max-width:304px;max-height:236px}.wrapper{min-height:100%;height:auto!important;height:100%;margin:0 auto -120px}.push{height:120px}@media only screen and (max-width:768px){.rows{margin-left:10%;margin-right:10%}.thumbnails{max-width:280px}.rows h4{font-size:14px;padding-top:25px}.col-xs-12 .caption h4{margin:0}}@media only screen and (max-width:768px) and (min-width:500px){.rows{margin-left:25%;margin-right:25%}}</style>
	 <div class="container">
    <h3 class="nis"> OUR TEAM</h3>
	<ul class="nav nav-pills" id="nishith">
		<li class="active"><a data-toggle="pill" href="#CORE">CORE TEAM</a></li>
		<li><a data-toggle="pill" href="#WEB">WEB TEAM</a></li>
		<li><a data-toggle="pill" href="#PR">PUBLIC RELATIONS</a></li>
		<li><a data-toggle="pill" href="#LOGISTICS">LOGISTICS</a></li>
		<li><a data-toggle="pill" href="#DR">DEPARTMENTAL REPRESENTATIVES</a></li>
		<li><a data-toggle="pill" href="#VOLUNTEERS">VOLUNTEERS</a></li>
	</ul>
    <hr>
  
  <div class="tab-content">
    <div id="CORE" class="tab-pane fade in active">
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/ayush-jain-cera.jpg">
						<div class="caption">
							<h4>Ayush Jain<br></h4>
                            Ceramic Engineering Part IV<br>
                            +91-9761947044
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/rajat-bhargava-min.jpg">
						<div class="caption">
							<h4>Rajat Bhargava<br></h4>
                              Mining Engineering Part IV<br>
                             +91-9919041807
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/shashank-agarwal-meta.jpg">
						<div class="caption">
							<h4>Shashank Agarwal</h4>
                            Metallurgical Engineering Part IV<br>
                             +91-8171287653
						</div>
					</div>
				</div>
		<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/ashay-jain-min.jpg">
						<div class="caption">
							<h4>Ashay Jain<br></h4>
                            Mining Engineering Part III<br>
                            +91-9455536839
						</div>
					</div>
				</div>		
		<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/b1.jpg">
						<div class="caption">
							<h4>Shashwat Shrivastava<br></h4>
                            Metallurgical Engineering Part III<br>
                            +91-8602466105
						</div>
					</div>
				</div>		
		<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/core team/gauri-katiyar-pharma.jpg">
						<div class="caption">
							<h4>Gauri Katiyar<br></h4>
                            Pharmaceutical Engineering Part II<br>
                            +91-7054151685
						</div>
					</div>
				</div>		
    </div>
      
      
    <div id="WEB" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/b1.jpg">
						<div class="caption">
							<h4>Mrityunjay Saxena<br></h4>
                            Metallurgical Engineering Part IV<br>
                            
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/b1.jpg">
						<div class="caption">
							<h4>Shreyans Jain<br></h4>
                             Ceramic Engineering Part IV<br>
                          
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/b1.jpg">
						<div class="caption">
							<h4>Abhishek Singh<br></h4>
                             Mining Engineering Part III<br>
                          
						</div>
					</div>
					
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/himanshu-dayani-cera-3.jpg">
						<div class="caption">
							<h4>Himanshu Dayani<br></h4>
                             Ceramic Engineering Part III<br>
                          
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/web/shah-rachit-chem-2.jpg">
						<div class="caption">
							<h4>Shah Rachit<br></h4>
                             Chemical Engineering Part II<br>
                          
						</div>
					</div>
				</div>
      </div>
        
            
    <div id="PR" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/shubhi-srivastava-civil-3.JPG">
						<div class="caption">
							<h4>Shubhi Srivastava</h4>
                         Civil Engineering Part III<br>
                                
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/pranav-vyas-cera-3.jpg">
						<div class="caption">
							<h4>Pranav Vyas</h4>
                            Ceramic Engineering Part III<br>
                            
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/himanshu-choudhary-min-2.jpg">
						<div class="caption">
							<h4>Himanshu Choudhary<br></h4>
                            Mining Engineering Part II<br>
                           
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/manthan-jain-electronics-2.jpeg">
						<div class="caption">
							<h4>Manthan Jain<br></h4>
                             Electronics Engineering Part II<br>
                         
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/vipul-chandra-meta-2.jpeg">
						<div class="caption">
							<h4>Vipul Chandra<br></h4>
                             Metallurgical Engineering Part II<br>
                            
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/pr/vyom-agarwal-meta-2.jpg">
						<div class="caption">
							<h4>Vyom Agarwal<br></h4>
                             Metallurgical Engineering Part II<br>
                            
						</div>
					</div>
				</div>
      </div>
   
      
            
    <div id="LOGISTICS" class="tab-pane fade">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/hrishikesh-krishna-cera-4.png">
						<div class="caption">
							<h4>Hrishikesh Krishna<br></h4>
                             Ceramic Engineering Part IV<br>
                         
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/aman-sapharia-civil-3.jpg">
						<div class="caption">
							<h4>Aman Sapharia<br></h4>
                            Civil Engineering Part III<br>
                           
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/bharat-jain-civil-2.jpg">
						<div class="caption">
							<h4>Bharat Jain<br></h4>
                           Civil Engineering Part II<br>
                         
						</div>
					</div>
				</div>
        
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/logistics/dhruva-agarwal-meta-2.jpg">
						<div class="caption">
							<h4>Dhruva Agarwal<br></h4>
                           Metallurgical  Engineering Part II<br>
                            
						</div>
					</div>
				</div>
         
      </div>
      
                 
      <div id="DR" class="tab-pane fade">
    <ul class="list-inline" id="way">
    <li class="active"><a data-toggle="tab" href="#CIVIL">CIVIL</a></li>
    <li><a data-toggle="tab" href="#CSE">CSE</a></li>
    <li><a data-toggle="tab" href="#CERA">CERAMICS</a></li>
    <li><a data-toggle="tab" href="#CHEM">CHEMICAL</a></li>
    <li><a data-toggle="tab" href="#META">METALLURGY</a></li>            
    <li><a data-toggle="tab" href="#MIN">MINING</a></li>
    <li><a data-toggle="tab" href="#MECH">MECHANICAL</a></li>
    <li><a data-toggle="tab" href="#MST">MATERIAL SCIENCE</a></li>
    <li><a data-toggle="tab" href="#ELECTRICAL">ELECTRICAL</a></li>
    <li><a data-toggle="tab" href="#ELECTRONICS"> ELECTRONICS</a></li>
    
    <li><a data-toggle="tab" href="#BM">BIOMEDICAL</a></li>
    <li><a data-toggle="tab" href="#PH">PHARMACEUTICS</a></li>
    <li><a data-toggle="tab" href="#IC">INDUSTRIALCHEMISTRY</a></li>
         </ul>
         <hr>
      
      
           <div class="tab-content">
            <div id="CIVIL" class="tab-pane fade in active">
       <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/civil/shekhar-shivhare-3.jpg">
						<div class="caption">
							<h4>Shekhar Shivhare<br></h4>
                            Civil Engineering Part III<br>
                            
						</div>
					</div>
				</div>
         <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/civil/harshit-chaudhary-2.jpg">
						<div class="caption">
							<h4>Harshit Chaudhary<br></h4>
                            Civil Engineering Part II<br>
                            
						</div>
					</div>
				</div>
        
           </div>
                
           
               
             <div id="CSE" class="tab-pane fade">   
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/cse/atishay-jain-4.jpg">
						<div class="caption">
							<h4>Atishay Jain<br></h4>
                            Computer Science And Engineering Part IV<br>
                            
						</div>
					</div>
				</div>
           
           </div>
                  
    
                   
           <div id="CERA" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/ceramic/aditya-rana-3.jpg">
						<div class="caption">
							<h4>Aditya Rana<br></h4>
                            Ceramic Engineering Part III<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/ceramic/shaikh-zaeem-cera-3.jpg">
						<div class="caption">
							<h4>Md.Zaeem<br></h4>
                            Ceramic Engineering Part III<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/ceramic/keval-mehta-2.jpg">
						<div class="caption">
							<h4>Keval Mehta<br></h4>
                            Ceramic Engineering Part II<br>
                            
						</div>
					</div>
				</div>
           </div>
                       
        
                       
           <div id="CHEM" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" class="ni" alt="270x170" src="/static/Team members/dr/chemical/avnish-singh-2.jpg">
						<div class="caption">
							<h4>Avnish Singh<br></h4>
                            Chemical Engineering  Btech Part II<br>
                           
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/b1.jpg">
						<div class="caption">
							<h4>Shubham Agrawal<br></h4>
                            Chemical Engineering  Btech Part II<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/chemical/shubham-bhalotia-2.jpg">
						<div class="caption">
							<h4>Shubham Bhalotia<br></h4>
                            Chemical Engineering  Btech Part II<br>
                            
						</div>
					</div>
				</div>
           </div>
                            
  
                           
          <div id="META" class="tab-pane fade"> 
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/metallugical/anant-jian-2.jpg">
						<div class="caption">
							<h4>Anant Jain<br></h4>
                           Metallurgical Engineering Part II<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/metallugical/devank-singhai-2.jpg">
						<div class="caption">
							<h4>Devank Singhai<br></h4>
                           Metallurgical Engineering Part II<br>
                           
						</div>
					</div>
           </div>
           
           </div>
                            
        
                               
           <div id="MIN" class="tab-pane fade">
      
           
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Jeet Parekh<br></h4>
                           Mining Engineering Part IV<br>
                            
						</div>
					</div>
				</div> 
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/minig/divyansh-sharma-2.jpg">
						<div class="caption">
							<h4>Divyansh Sharma<br></h4>
                           Mining Engineering  Btech Part II<br>
                            
						</div>
					</div>
				</div>   
           </div>
                                    
             
                                   
            <div id="MECH" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Shivam Kumar<br></h4>
                           Mechanical Engineering Part III<br>
                        
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Jishnu D I<br></h4>
                           Mechanical engineering   Btech Part II<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/mechanical/naman-jain-2.jpg">
						<div class="caption">
							<h4>Naman Jain<br></h4>
                          Mechanical Engineering Part II<br>
                            
						</div>
					</div>
				</div>
           </div>
                                       
            
                                       
             <div id="MST" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/mst/rajat-kumar-singh-4.jpeg">

						<div class="caption">
							<h4>Rajat Kumar Singh<br></h4>
                           Material Science and Technology Part IV<br>
                            
						</div>
					</div>
				</div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/mst/anirudh-ingle-2.jpg">
						<div class="caption">
							<h4>Anirudh Ingle<br></h4>
                           Material Science and Technology Part II<br>
                            
						</div>
					</div>
				</div>
           </div>
                                           
       
                                          
         <div id="ELECTRICAL" class="tab-pane fade">
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Durgesh Kumar<br></h4>
							<h4><br></h4>
                           Electrical Engineering Part IV<br>
                            
						</div>
					</div>
				</div>  
                
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/electrical/paritosh-saroj-2.jpg">
						<div class="caption">
							<h4>Paritosh Saroj<br></h4>
                           Electrical Engineering Part II<br>
                            
						</div>
					</div>
				</div>  
                
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/electrical/prabhakar-singh-2.jpg">
						<div class="caption">
							<h4>Prabhakar Singh<br></h4>
                           Electrical Engineering Part II<br>
                            
						</div>
					</div>
				</div> 
           </div>
                                            
           
                                               
            <div id="ELECTRONICS" class="tab-pane fade">
          
                
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/electronics/tanish-jain-2.jpg">
						<div class="caption">
							<h4>Tanish Jain<br></h4>
                           Electronics Engineering Part II<br>
                            
						</div>
					</div>
				</div>  
           </div>
                                                    
           
                                                   
            <div id="EP" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/PRASHANTHI Ep.jpg">
						<div class="caption">
							<h4>M. Prashanthi<br></h4>
                           Engineering Physics  IMD Part IV<br>
                            +91-9454214170
						</div>
					</div>
           </div>
                
               <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/Shyam Ep.jpg">
						<div class="caption">
							<h4>Shyam Harimohan Menon<br></h4>
                           Engineering Physics  IMD Part IV<br>
                            +91-8874597917
						</div>
					</div>
           </div>
                
               <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>M. Prashanthi<br></h4>
                           Engineering Physics  IMD Part III<br>
                            +91-9670000239
						</div>
					</div>
           </div>
           </div>
                                                        
        
                                                       
         <div id="BM" class="tab-pane fade">
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/biomedical/arshad-kazi-2.jpg">
						<div class="caption">
							<h4>Arshad Kazi<br></h4>
                          Biomedical Engineering Part II<br>
                          
						</div>
					</div>
           </div>
           <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/b1.jpg">
						<div class="caption">
							<h4>Vinayak<br></h4>
                          Biomedical Engineering Part II<br>
                            
						</div>
					</div>
           </div>
           </div>
                                                            
          
                                                          
            <div id="PH" class="tab-pane fade">
          <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/pharma/shubham-jain-2.jpg">
						<div class="caption">
							<h4>Shubham Jain<br></h4>
                         PHARMACEUTICS Part II<br>
                            
						</div>
					</div>
           </div> 
           </div>
                                                              
           
                                                              
            <div id="IC" class="tab-pane fade">
            <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/industrial-chemistry/atul-dorge-2.jpg">
						<div class="caption">
							<h4>Atul Dorge<br></h4>
                          Industrial Chemistry Part II<br>
                            

						</div>
					</div>
           </div>
		   <div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">	
              <div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/dr/industrial-chemistry/mohit-patil-2.jpg">
						<div class="caption">
							<h4>Mohit Patil<br></h4>
                          Industrial Chemistry Part II<br>
                            

						</div>
					</div>
           </div>
                                                                   </div>
                                                                    </div>
                   
    </div>
		<div id="VOLUNTEERS" class="tab-pane fade">
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/b1.jpg">
						<div class="caption">
							<h4>Abhas Jain<br></h4>
                             Biochemical Engineering Part I<br>
                         
						</div>
					</div>
				</div>
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/pulkit-jain-biochem.jpg">
						<div class="caption">
							<h4>Pulkit Jain<br></h4>
                             Biochemical Engineering Part I<br>
                         
						</div>
					</div>
				</div>	
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/samiksha-jain-cera.jpeg">

						<div class="caption">
							<h4>Samiksha Jain<br></h4>
                             Ceramic Engineering Part I<br>
                         
						</div>
					</div>
				</div>
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/prakhar-bhatnagar-chem.jpeg">
						<div class="caption">
							<h4>Prakhar Bhatnagar<br></h4>
                             Chemical Engineering Part I<br>
                         
						</div>
					</div>
				</div>	
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/sajal-srivastava-civil.jpg">
						<div class="caption">
							<h4>Sajal Srivastava<br></h4>
                             Civil Engineering Part I<br>
                         
						</div>
					</div>
				</div>	
			<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/hritwik-singhai-compu.jpg">
						<div class="caption">
							<h4>Hritwik Singhai<br></h4>
                             Computer Science Engineering Part I<br>
                         
						</div>
					</div>
				</div>	
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/lovish-bansal-compu.jpg">
						<div class="caption">
							<h4>Lovish Bansal<br></h4>
                             Computer Science Engineering Part I<br>
                         
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/umang-jain-compu.jpg">
						<div class="caption">
							<h4>Umang Jain<br></h4>
                            Computer Science Engineering Part I<br>
                         
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/keshav-sharma-meta.jpg">
						<div class="caption">
							<h4>Keshav Sharma<br></h4>
                             Metallurgical Engineering Part I<br>
                         
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" data-tag="art">
					<div class="thumbnail">
						<img class="img-round img-responsive" id="photo" alt="270x170" src="/static/Team members/volunteers/vidhan-garg-pharma.jpg">
						<div class="caption">
							<h4>Vidhan Garg</h4>
                             Pharmaceutical Engineering Part I<br>
                         
						</div>
					</div>
				</div>
		</div>
  </div>
  
</div>

	
{% endblock %}

{% block scripts %}
{% endblock %}
